footer {
  height: 8%;
  background-color: #2d3b38cc;
  font-family: "Montserrat", sans-serif;
  color: #fff;
  padding-bottom: 80px;
}

.footer-container {
  margin: 25px auto;
  text-align: center;
}

.copyright-icon {
  margin: 0 10px;
  font-size: 15px;
}

