.profile-info-title {
  font-size: 24px;
  margin: 20px;
  text-align: center;
  font-weight: bold;
}

.profile-info-form-entry {
  width: 90%;
  margin: 10px auto;
}

.profile-info-text {
  font-size: 19px;
  text-align: right;
  margin: 10px auto;
}
